.root {
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem;
}

.primary {
    background: RGB(var(--global-color-primary-button-background));
    color: #ffffff;

    &:hover {
        background: RGB(var(--global-color-primary-button-hover-background));
    }
}

.secondary {
    background: RGB(var(--global-color-secondary-button-background));
    color: #ffffff;

    &:hover {
        background: RGB(var(--global-color-secondary-button-hover-background))
    }
}
