/* global tokens */
:root {
  --global-color-blue-400: 0 116 241;
  --global-color-blue-500: 0 97 203;
  --global-color-gray-400: 108 117 125;
  --global-color-gray-500: 92 99 106;
}

/* alias tokens */
:root {
  --global-color-primary-button-background: var(--global-color-blue-400);
  --global-color-primary-button-hover-background: var(--global-color-blue-500);
  --global-color-secondary-button-background: var(--global-color-gray-400);
  --global-color-secondary-button-hover-background: var(--global-color-gray-500);
}
